@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body{
  margin : 0;
  background-image:url("pattern.png");
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar{
background-color: #333;
height: 100px;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
color: whitesmoke;
font-size: 36px;
font-family: 'Roboto', sans-serif;
}
footer
{
  text-align: center;
  color: rgb(51, 28, 28);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
.todo-list
{
  display: flex;
  margin: auto;
  background-color: rgb(245, 242, 210);
  width: 50%;
  border:1px solid #cecece;
  border-radius: 5px;
  flex-direction: column;

}
.todo-item
{
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  width:70%;
  display: flex;
  margin: auto;
  padding: 10px;
  justify-content: flex-start;
border-bottom: 1px solid #cecece;
}
button {
  display:flex;
  padding:0.2em 1.45em;

  margin:0.1em;
  border:0.15em solid #CCCCCC;

  
  
  font-family:'Segoe UI','Roboto',sans-serif;
  font-weight:400;
  color:#000000;
  background-color:#CCCCCC;
  text-align:center;
  position:relative;
}
  button:hover{
  border-color:#7a7a7a;
}
button:active{
  background-color:#999999;
}
@media all and (max-width:30em){
button{
display:flex;

}
}
.tb {
 
  padding:0.35em 1.45em;
  
  margin:0.1em;
	border: 1px solid #cccccc;
	border-left: 4px solid #cccccc ;
}
.add{
  
  display: flex;
  width:100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
    margin: auto;
}
.clear{
  display: flex;
  justify-content: center;
  margin:0.2em auto;
}
